<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>Gerenciador de Estágios</title>
        <meta charset="UTF-8">
    </head>
    <body>

    <div class="container">

        <div class="header">
            <h1>Estágios Cadastrados</h1>
            <p>Gerencie e acompanhe seus estágios</p>
        </div>
        <a class="btn-cadastrar" href="/estagios/novo">
            + Cadastrar estágio
        </a>

        <form class="search-form" action="/estagios/pesquisar" method="get">
            <input type="text" name="empresa" placeholder="Digite a empresa">
            <button type="submit">Pesquisar</button>
        </form>

        <div class="ordenacao">
            <a href="/estagios/ordenar/crescente">Data mais antiga</a>
            <a href="/estagios/ordenar/decrescente">Data mais recente</a>
        </div>

        <div class="table-card">

            <table>
                <tr>
                    <th>Empresa</th>
                    <th>Cargo</th>
                    <th>Data Início</th>
                    <th>Data Fim</th>
                    <th>Status</th>
                </tr>

                <tr th:each="estagio : ${estagios}">
                    <td th:text="${estagio.empresa}"></td>
                    <td th:text="${estagio.cargo}"></td>
                    <td th:text="${estagio.dataInicio}"></td>
                    <td th:text="${estagio.dataFim}"></td>

                    <td>
                        <span class="status" th:text="${estagio.status}"></span>
                    </td>

                    <td class="acoes">
                        <a class="btn-editar"
                           th:href="@{/estagios/editar/{id}(id=${estagio.id})}">
                            Editar
                        </a>

                        <a class="btn-excluir"
                           th:href="@{/estagios/excluir/{id}(id=${estagio.id})}">
                            Excluir
                        </a>
                    </td>
                </tr>

            </table>

        </div>

    </div>

    </body>
</html>