<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <title>Gerenciador de Estágios</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Cadastrar Estágio</h1>
        <form th:action="${estagio.id == null ? '/estagios' : '/estagios/editar'}" method="post" th:object="${estagio}">
            <input type="hidden" th:field="*{id}">
            <label> Empresa </label>
        <input th:field = "*{empresa}">
        <label>Cargo</label>
        <input th:field = "*{cargo}">
        <label>Data Inicio</label>
        <input type = "date" th:field = "*{dataInicio}">
        <label>Data Fim </label>
        <input type = "date" th:field = "*{dataFim}">
        <label>Status</label>
        <input th:field = "*{status}">
        <button>Cadastrar </button>
        </form>
    </body>
</html>







